<h1>Welcome to the nyt API try out app</h1>
<h3>please enter a request by media</h3>
<%= form_tag( "/search", method: "post") do %>
<%= label_tag(:q, "") %>
<%= text_field_tag(:q) %>
<%= submit_tag("search") %>
<% end %>
